<%= form_with(model: question, local: true, id: :form) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body %>
  </div>

  <div class="field">
    <%= form.label :choose_course %>
    <%= form.select(:course_name, current_user.courses_as_instructor.map { |c| [c.name, c.name] } ) %>
  </div>

  <div id="editor-container" width="500px" height="350px"></div>

  <div class="form-group">
  <table class="table table-striped table-bordered table-hover" id="answers-table">
    <thead>
      <tr>
        <th class="text-center" width="100px">Correct?</th>
        <th>Answer</th>
        <th class="text-center" width="100px">Destroy</th>
      </tr>
    </thead>
    <tbody>
        <%= form.fields_for :answers do |answer_form| %>
      <tr>
        <td class="text-center" width="100px"><%= answer_form.check_box :is_correct %></td>
        <td><%= answer_form.text_field :answer, class:"form-control" %></td>
        <td class="text-center" width="100px"><%= answer_form.check_box :_destroy %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="bootstrap-tagsinput">
  <!-- Loop through tags from controller (tags associated with question) and display -->
  <!-- Allow user to remove tags. -->
    <!-- allow user to enter tags. -->
    <input type="text" data-role="tagsinput" value="<%= @question.tags.join(", ") %>">
  </div>

  <br>

  <div class="actions">
    <%= form.submit :class => "btn btn-default"%>
  </div>
<% end %>
<script>initialize_question_form()</script>
