<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body %>
  </div>

  <table>
    <tr>
      <th>Answer</th>
      <th>Correct?</th>
      <th>Delete?</th>
    </tr>
    <%= form.fields_for :answers do |answer_form| %>
      <tr>
        <td><%= answer_form.text_field :answer %></td>
        <td><%= answer_form.check_box :is_correct %></td>
        <td><%= answer_form.check_box :_destroy %></td>
      </tr>
    <% end %>
  </table>

  <br>
  <%= button_tag "Add another answer", type: 'button', onclick: '' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
