<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body %>
  </div>

  <%= form.fields_for :answers do |answer_form| %>
    <%= answer_form.label :answer %>
    <%= answer_form.text_field :answer %>

    <%= answer_form.label :is_correct %>
    <%= answer_form.check_box :is_correct %>

    <%= answer_form.label :_destroy %>
    <%= answer_form.check_box :_destroy %>
  <% end %>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
