<%= form_with(model: question, local: true, id: :form) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body %>
  </div>


  <div id="editor-container"></div>

  <div class="field">
    <%= form.label :for_course %>
    <%= form.select(:course_name, current_user.courses_as_instructor.map { |c| [c.name, c.name] } ) %>
  </div>

  <div class="form-group">
  <table>
    <tr>
      <th>Correct?</th>
      <th>Answer</th>
      <th>Destroy</th>
    </tr>
      <%= form.fields_for :answers do |answer_form| %>
    <tr>
      <td><%= answer_form.check_box :is_correct %></td>
      <td><%= answer_form.text_field :answer, class:"form-control" %></td>
      <td><%= answer_form.check_box :_destroy %></td>
    </tr>
      <% end %>
  </table>
  </div>


  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>initialize_question_form()</script>
