<%= form_with(model: question, local: true, id: :form) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body %>
  </div>


  <div id="editor-container"></div>

  <div class="field">
    <%= form.label :for_course %>
    <%= form.select(:course_name, current_user.courses_as_instructor.map { |c| [c.name, c.name] } ) %>
  </div>

  
  <div class="bootstrap-tagsinput">
  <!-- Loop through tags from controller (tags associated with question) and display -->
  <!-- Allow user to remove tags. -->
    <!-- allow user to enter tags. -->
    <input type="text" data-role="tagsinput" value="<%= @question.tags.join(", ") %>">
  </div>


  <!-- TODO: Just listing tags for testing. Need to make prettier for input. Possibly use ntagsinput for bootstrap?-->
  <div class="field">

    
    <table id="questionTagsEditTable" class="table">
      <tr>
        <th></th>
        <th>Tag</th>
      </tr>
      <% if @tags.present? %>
        <!-- loop thru tags from controller (tags associated with question) -->
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.to_s %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    
  </div>

  <%= form.fields_for :answers do |answer_form| %>
    <%= answer_form.label :answer %>
    <%= answer_form.text_field :answer %>

    <%= answer_form.label :is_correct %>
    <%= answer_form.check_box :is_correct %>

    <%= answer_form.label :_destroy %>
    <%= answer_form.check_box :_destroy %>
    </br> <!-- separates answers on new line.-->
  <% end %>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>initialize_question_form()</script>
