<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<!-- check if current_user's courses have any questions
        and allow user to filter those questions by searching tags.-->
<% if @questions.present? %>

  <input type="text" id="tagSearchInput" onkeyup="questionsTableTagSearch(1, 2)" class="form-control" placeholder="Search for question tags...">
  <br>
  <table id="questionTagTable" class="table table-striped table-bordered table-hover" >

    <tr>
      <th>Question</th>
      <th>Tags</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>

    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body_as_text %></td>
        <td><%= question.tags.join(", ") %></td>
        <td><%= question.course_name %></td>
        <td style="width:10%;vertical-align:middle"><%= button_to 'Show', question, {class: 'btn btn-primary', method: :get} %></td>
        <td style="width:10%;vertical-align:middle"><%= button_to 'Edit', edit_question_path(question), {class: 'btn btn-primary', method: :get} %></td>
        <td style="width:10%;vertical-align:middle"><%= button_to 'Destroy', question, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>
<% else %>
  <p>There are no questions associated with the courses you teach. Please create a question to add to the question set.</p>
<% end %>

<br>

<%= button_to 'New Question', new_question_path, {class: 'btn btn-primary', method: :get} %>
