<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_tag('questions_path', method: "get", id:"search-form", remote: true) do %>
    <%= label_tag(:search, "Find Questions by Tag:") %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
        <td><%= question.tags.join(", ") %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- check if current_user's courses have any questions
        and allow user to filter those questions by searching tags.-->
<% if @questions.present? %>
  <!-- add "search bar" for tags and filter questions shown based on
        tag entered -->

  

  <!-- <table border="1">
    <tr>
      <th></th>
      <th>Question</th>
      <th>Tags</th>
    </tr>
    loop thru questions from controller
          (questions associated with courses the current_user is
          a professor or assistant for)
    <% @questions.each do |q| %>
      <tr>
        <td><%= check_box_tag 'question_ids[]', q.id, false, :id => 'question_ids_#{q.id}' %>
        <td><%= q.body %></td>
        <td><%= q.tags.join(", ") %></td>
      </tr>
    <% end %>
  </table> -->
<% else %>
<!-- current_user's courses do not have any questions -->
  <p>There are no questions associated with the courses you teach. Please create a question to add to the question set.</p>
<% end %>

<br>

<%= link_to 'New Question', new_question_path %>
