<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <div id='question-body' hidden><%= @question.body %></div>
  <div id="editor-container"></div>
  <% @question.answers.each do |a| %>
    <br>
    <% if a.is_correct %>
      <b><%= a %></b>
    <% else %>
      <%= a %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<script>initialize_question_view()</script>
