<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :lecture_title, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :question_set_id%>
    <%= form.select(:question_set_id, QuestionSet.where(is_readonly: false).map {|s| [s, s.id] }, {}, class: 'form-control') %>
  </div>

  <%= hidden_field_tag 'course_id', @course.id %>
  <div style="margin-top:5px">
    <%= form.submit :class => "btn btn-default" %>
  </div>
<% end %>