<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Question set:</strong>
  <%= @lecture.question_set %>
</p>


<% if @lecture.completed %>
  <p>
    <strong>View Lecture Results:</strong>
    <%= link_to 'View', @lecture.question_set %>
  </p>
<% else %>
  <p>
    <strong>Start This Lecture:</strong>
    <%= link_to 'Start', @livelecture_uri %>
  </p>
<% end %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
