<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Question set:</strong>
  <%= @lecture.question_set %>
</p>


<% if @lecture.completed %>
  Overall class accuracy: <%= @lecture.overall_average %>%
  <% unless current_user.courses_as_instructor.include? @lecture.course %>
    Your accuracy: <%= @lecture.user_average current_user %>%
  <% end %>
  <table class="table">
    <tr>
      <th><strong>Questions:</strong></th>
      <th><strong>Answer:</strong></th>
      <th><strong>Average:</strong></th>
    </tr>
    <% @lecture.question_set.questions.each do |question| %>
        <tr>
          <td><div class="quill-container" hidden><%= question.body %></div></td>
          <td>
            <ul>
              <% question.answers.each do |a| %>
                <li><span>
                  <% if a.is_correct %>
                    &#x2705 <%= a.answer %>
                  <% else %>
                    &#x2716 <%= a.answer %>
                  <% end %>
                  ( <%= @response_averages[question][a] %> percent chose this)
                </span></li>
              <% end %>
            </ul>
          </td>
          <td><%= @lecture.question_average question %>%</td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>
    <strong>Start This Lecture:</strong>
    <%= link_to 'Start', @livelecture_uri %>
  </p>
<% end %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
<script>show_quills();</script>
