<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Date of use:</strong>
  <%= @lecture.date_of_use %>
</p>

<p>
  <strong>Question set:</strong>
  <%= @lecture.question_set %>
</p>

<p>
  <strong>Start This Lecture:</strong>
  <%= link_to 'Start', @livelecture_uri %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
