<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Question set:</strong>
  <%= @lecture.question_set %>
</p>


<% if @lecture.completed %>
  <p>
    <%= button_to 'View Lecture Results', @lecture.question_set, {class: 'btn btn-primary', method: :get} %>
  </p>
<% else %>
  <p>
    <%= button_to 'Start Lecture', @livelecture_uri, {class: 'btn btn-primary', method: :get, params: {lecture: @lecture.id}} %>
  </p>
<% end %>

<div style="float:left">
    <%= button_to "Edit", edit_lecture_path(@lecture), {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
</div>
<div style="float:left;margin-left:5px">
    <%= button_to "Back", @course, {class: 'btn btn-primary', method: :get} %>
</div>