<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "First Name" %>
    <%= form.text_field :fname, id: :user_fname, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Last Name" %>
    <%= form.text_field :lname, id: :user_lname, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :is_admin, "isAdmin" %>
    <%= form.check_box :is_admin, id: :user_is_admin, class:"checkbox" %>
  </div>

  <div class="field">
    <%= form.label :is_professor, "isProfessor" %>
    <%= form.check_box :is_professor, id: :user_is_professor, class:"checkbox" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-default" %>
  </div>
<% end %>
