<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Information</h1>
    </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>isAdmin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>isProfessor:</strong>
  <%= @user.is_professor %>
</p>

<div style="float:left">
    <%= button_to "Edit", edit_user_path(@user), {class: 'btn btn-primary', method: :get} %>
</div>
<div style="float:left;margin-left:5px">
    <%= button_to "Back", users_path, {class: 'btn btn-primary', method: :get} %>
</div>
