<h1>Edit Registration</h1>

<%= form_with(model: @registration, local: true) do |form| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, {class:"form-control", :readonly => true}%>
  </div>
  
  <div class="field" style="margin-top:5px">
    <%= form.label :role %>
    <%= form.select(:role, [['INSTRUCTOR', 'INSTRUCTOR'], ['STUDENT', 'STUDENT']], {}, class: 'form-control') %>
  </div>

  <div class="actions" style="margin-top:5px">
    <%= form.submit :class => "btn btn-default"%>
  </div>
<% end %>
<div style="margin-top:5px">
  <% if @course.nil? %>
    <%= button_to "Back", registrations_path, {class: 'btn btn-primary', method: :get} %>
  <% else %>
    <%= button_to "Back", registrations_path, {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
  <% end %>
</div>