<p id="notice"><%= notice %></p>
           
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Registrations</h1>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Role
                </th>
                <th>
                    Course
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            <% @registrations.each do |registration| %>
                <tr>
                    <td><%= registration.user %></td>
                    <td><%= registration.role %></td>
                    <td><%= registration.course %></td>
                    <td>
                        <div>
                            <div style="float:left;margin-left:5px">
                                <%= button_to "Show", registration, {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
                            </div>
                            <div style="float:left;margin-left:5px">
                                <%= button_to "Edit", edit_registration_path(registration), {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
                            </div>
                            <div style="float:left;margin-left:5px">
                                <%= button_to "Destroy", registration, {method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'} %>
                            </div>                             
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div style="float:left;margin-left:5px">
    <%= button_to "Register New User", new_registration_path, {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
</div>
<div style="float:left;margin-left:5px">
    <%= button_to "Back", @course, {class: 'btn btn-primary', method: :get} %>
</div>