<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Registration</h1>
    </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @registration.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @registration.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @registration.course %>
</p>
<% if @course.nil? %>
    <div style="float:left">
        <%= button_to "Edit", edit_registration_path(@registration), {class: 'btn btn-primary', method: :get} %>
    </div>
    <div style="float:left;margin-left:5px">
        <%= button_to "Back", registrations_path, {class: 'btn btn-primary', method: :get} %>
    </div>
<% else %>
    <div style="float:left">
        <%= button_to "Edit", edit_registration_path(@registration), {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
    </div>
    <div style="float:left;margin-left:5px">
        <%= button_to "Back", registrations_path, {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
    </div>
<% end %>
