<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_to_lecture_junction.course %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @course_to_lecture_junction.lecture %>
</p>

<%= link_to 'Edit', edit_course_to_lecture_junction_path(@course_to_lecture_junction) %> |
<%= link_to 'Back', course_to_lecture_junctions_path %>
