<p id="notice"><%= notice %></p>

<h1>Question Sets</h1>

<% @names.each do |course_name| %>
    <div class="col-lg-12" style="margin-top:10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><%= course_name %></h1>
            </div>
            <div class="panel-body">
                <div class="row">
                  <% QuestionSet.where(course_name: course_name, is_readonly: false).each do |qs| %>
                      <div class="col-xs-3">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <%= qs.name %>
                              </div>
                              <div class="panel-body">
                                  <p><strong>Number of Questions: <%= qs.questions.size %></strong><p>
                                  <p><%= button_to "Go to Set", qs, {method: :get, class: "btn btn-default"} %>
                              </div>
                          </div>
                      </div>
                  <% end %>
                    <div class="col-xs-3">
                        <%= button_to "Create New Question Set", new_question_set_path, {method: :get, class: "btn btn-default", params: {course_name: course_name}} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
