<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_set.name %>
</p>

<p>
  <% if @question_set.is_readonly %>
  This question set can not be edited because it is included in a lecture.
  <% end %>
</p>

<table class="table table-striped table-bordered table-hover" id="questions-table">
  <tr>
  	<th><strong>Question</strong></th>
  	<th><strong>Tags</strong></th>
  </tr>
   <% @question_set.questions.each do |question|%>
   	<tr>
        <td><%= question.body_as_text -%></td>
        <td><%= question.tags.join(", ") -%></td>
    </tr>
    <% end %>
</table>

<%= button_to 'Edit', edit_question_set_path(@question_set), {class: 'btn btn-primary', method: :get} %>
<%= button_to 'Back', question_sets_path, {class: 'btn btn-primary', method: :get} %>
