<p id="notice"><%= notice %></p>

<p>
  <strong>Question Set Name:</strong>
  <%= @question_set.name %>
</p>

<p>
  <strong>For use in:</strong>
  <%= @question_set.course_name %>
</p>

<table class="table table-striped table-bordered table-hover" id="questions-table">
  <tr>
  	<th><strong>Question</strong></th>
  	<th><strong>Tags</strong></th>
  </tr>
   <% @question_set.questions.each do |question|%>
   	<tr>
        <td><%= question.body_as_text -%></td>
        <td><%= question.tags.join(", ") -%></td>
    </tr>
    <% end %>
</table>
<div>
    <div style="float:left;margin-left:5px">
        <%= button_to 'Edit', edit_question_set_path(@question_set), {class: 'btn btn-primary', method: :get} %>
    </div>
    <div style="float:left;margin-left:5px">
        <%= button_to 'Back', question_sets_path, {class: 'btn btn-primary', method: :get} %>
    </div>
</div>
