<div class="col-xs-3 well">
    <h3>Active Learning</h3>
    <%= link_to "Courses", :controller => :courses, :action => :index %>
    <br>
    <%= link_to "users", :controller => :users, :action => :index %>
    <br>
    <%= link_to "registrations", :controller => :registrations, :action => :index %>
    <br>
    <%= link_to "tags", :controller => :tags, :action => :index %>
    <br>
    <%= link_to "questions", :controller => :questions, :action => :index %>
    <br>
    <%= link_to "answers", :controller => :answers, :action => :index %>
    <br>
    <%= link_to "question sets", :controller => :question_sets, :action => :index %>
    <br>
    <%= link_to "question set junction", :controller => :question_set_junctions, :action => :index %>
</div>
