<div class="col-xs-3 well">
    <h3>Navigation</h3>
    <% if current_user.is_admin %>
        <%= link_to "Registrations", :controller => :registrations, :action => :index %>
        <br>
        <%= link_to "Tags", :controller => :tags, :action => :index %>
        <br>
        <%= link_to "Users", :controller => :users, :action => :index %>
        <br>
        <%= link_to "Answers", :controller => :answers, :action => :index %>
        <br>
        <%= link_to "Question sets", :controller => :question_sets, :action => :index %>
        <br>
        <%= link_to "Lectures", :controller => :lectures, :action => :index %>
        <br>
        <%= link_to "Responses", :controller => :responses, :action => :index %>
        <br>
        <%= link_to "Course to lecture junction", :controller => :course_to_lecture_junctions, :action => :index %>
        <br>
        <%= link_to "Question to tag junction", :controller => :question_to_tag_junctions, :action => :index %>
        <br>
        <%= link_to "Question to set junction", :controller => :question_set_junctions, :action => :index %>
        <br>
        <%= link_to "Courses", :controller => :courses, :action => :index %>
        <br>
        <%= link_to "Questions", :controller => :questions, :action => :index %>
        <br>
    <% end %>
</div>
