<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lecture_id %>
    <%= form.text_field :lecture_id, id: :response_lecture_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :response_user_id %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :response_question_id %>
  </div>

  <div class="field">
    <%= form.label :answer_id %>
    <%= form.text_field :answer_id, id: :response_answer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
