<%= form_with(model: question_set_junction, local: true) do |form| %>
  <% if question_set_junction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_set_junction.errors.count, "error") %> prohibited this question_set_junction from being saved:</h2>

      <ul>
      <% question_set_junction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :question_set_junction_question_id %>
  </div>

  <div class="field">
    <%= form.label :question_set_id %>
    <%= form.text_field :question_set_id, id: :question_set_junction_question_set_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
