<p id="notice"><%= notice %></p>

<h1>Question To Tag Junctions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_to_tag_junctions.each do |question_to_tag_junction| %>
      <tr>
        <td><%= question_to_tag_junction.question %></td>
        <td><%= question_to_tag_junction.tag %></td>
        <td><%= link_to 'Show', question_to_tag_junction %></td>
        <td><%= link_to 'Edit', edit_question_to_tag_junction_path(question_to_tag_junction) %></td>
        <td><%= link_to 'Destroy', question_to_tag_junction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question To Tag Junction', new_question_to_tag_junction_path %>
