<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_to_tag_junction.question %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @question_to_tag_junction.tag %>
</p>

<%= link_to 'Edit', edit_question_to_tag_junction_path(@question_to_tag_junction) %> |
<%= link_to 'Back', question_to_tag_junctions_path %>
