<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :course_year, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.select(:semester, ["SPRING", "SUMMER", "FALL"], {}, class: 'form-control') %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name, class:"form-control" %>
  </div>

  <div class="actions" style="margin-top:5px">
    <%= form.submit :class => "btn btn-default" %>
  </div>
<% end %>