<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start.strftime("%I:%M%p") %>
</p>

<p>
  <strong>End:</strong>
  <%= @course.end.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course.user.username %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
