<p id="notice"><%= notice %></p>

<div class="row">
    <h1 class="page-header"><%= @course.name %>
    </h1>
</div>
<div class="col-xs-9">
    <div class="col-xs-3" style="font-size:12px">
        <strong>Year:</strong>
        <%= @course.year %>
    </div>
    <div class="col-xs-3" style="font-size:12px">
        <strong>Semester:</strong>
        <%= @course.semester %>
    </div>
    <div class="col-xs-3" style="font-size:12px">
        <strong>Student key:</strong>
        <%= @course.student_key %>
    </div>
</div>
<% if current_user.courses_as_instructor.include? @course %>
    <%= button_to "Edit Course Information", edit_course_path(@course), {class: "btn btn-primary", method: :get} %>
<% end %>

<div class="col-lg-12" style="margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Lectures</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <% @course.lectures.each do |lecture| %>
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <%= lecture.title %>
                            </div>
                            <div class="panel-body">
                                <% if lecture.completed %>
                                    <p><strong>Date: <%= lecture.updated_at %></strong><p>
                                <% else %>
                                    <p><strong>Completed: no</strong></p>
                                <% end %>
                                <p><strong>Number of Questions: <%= lecture.question_set.questions.size %></strong><p>
                                <p><%= button_to "Go to Lecture", lecture, {method: :get, class: "btn btn-default", params: {course_id: @course.id}} %>
                            </div>
                        </div>
                    </div>
                <% end %>
                <% if current_user.courses_as_instructor.include? @course %>
                    <div class="col-xs-3">
                        <%= button_to "Create New Lecture", new_lecture_path, {method: :get, controller: :lecture, class: "btn btn-default", params: {course_id: @course.id}} %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12" style="margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Performance</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Course average
                        </div>
                        <div class="panel-body">
                            <%= @course.pct_correct %> %
                        </div>
                    </div>
                </div>
                <% unless current_user.courses_as_instructor.include? @course %>
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Your average
                            </div>
                            <div class="panel-body">
                                <%= @course.pct_correct_by_user current_user %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div>
    <div style="float:left;margin-left:5px">
        <%= button_to "Registration", @course, {method: :get, class: "btn btn-primary"}%>
    </div>
    <div style="float:left;margin-left:5px">
        <%= button_to "Student Breakdown", @course, {method: :get, class: "btn btn-primary"}%>
    </div>
</div>
