Current Question:
<div id="question-body" hidden><%= question.body %></div>
<div id="editor-container"></div>

Answers:
<ul id="answers">
  <% question.answers.each do |answer| %>
    <li><button class="answer-button" data-qid='<%= question.id %>' data-id='<%= answer.id %>'>Answer</button><div id='answer-<%= answer.id %>'><%= answer.answer %></div></li>
  <% end %>
</ul>
