<p>Hello <%= current_user  %>, welcome to <%= @lecture.title %></p>
You are currently <p id='connection-status'>disconnected</p>

<div id="current-question"></div>

<div id="userlist"></div>

<div id="countdown"></div>

<script>
<% if current_user.is_professor %>
  create_start_lecture("<%= @lecture.id %>");
<% else %>
  create_join_lecture("<%= @lecture.id %>", "<%= current_user.username %>");
<% end %>
</script>
