<p>Hello <%= current_user  %>, welcome to <%= @lecture.title %></p>
You are currently <p id='connection-status'>disconnected</p>

<div id="current-question"></div>

<div id="userlist"></div>

<div id="countdown"></div>

<% if current_user.is_professor %>
  <div>
    <div style="float:left;width:10%">
        <input type="number" id="timeChange" value="5" class="form-control">
    </div>
    <div styel="float:left;margin-left:5px">
        <button type="button" class="btn btn-primary"  onclick="edit_timer_send()">Add Time to Timer</button>
    <div>
  </div>
  <div>
    <button id='question-release' class="btn btn-primary" style="margin-top:5px">Release next question</button>
  <div>
<% end %>

<script>
<% if current_user.courses_as_instructor.include? @lecture.question_set.questions[0].course %>
  create_start_lecture("<%= @lecture.id %>");
<% else %>
  create_join_lecture("<%= @lecture.id %>", "<%= current_user.username %>");
<% end %>
</script>
