<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag '/images/Logo.png' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//cdn.quilljs.com/1.2.6/quill.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/vendor/metisMenu/metisMenu.js"></script>
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="/vendor/flot/jquery.flot.js"></script>
    <script src="/vendor/flot/jquery.flot.time.js"></script>
    <script src="/vendor/flot/jquery.flot.resize.js"></script>
    <title>Activelearning</title>
</head>

<body>
  <div id="wrapper">
    <%= render :template => 'layouts/navbar' %>

    <div id="page-wrapper">
      <div id="main-container" class="container col-lg-12">
        <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
