<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag '/images/Logo.png' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/vendor/metisMenu/metisMenu.js"></script>
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <title>Activelearning</title>
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <table>
          <tr>
            <td width="5%" style="text-align:right;background-color:transparent"><img src="/images/Logo.png" alt="Logo" width=50 height=50 ></td>
            <td width="90%" style="text-align:left">
              <a class="navbar-brand">Active Learning</a>
            </td>
            <td width="3%" style="text-align:right;right-margin:10px">
              <%= current_user.username %>
                <%= current_user.is_admin ? ' [admin]' : '' %>
                  <%= current_user.is_professor ? ' [professor]' : '' %>
            </td>
            <td width="2%" style="text-align:right;right-margin:10px">
              <button type="button" class="btn btn-default">Log Out</button>
            </td>
          </tr>
        </table>
      </div>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav in" id="side-menu">
            <% if current_user.is_admin %>
              <li class="active">
                <%= link_to "Users", :controller => :users, :action => :index %>
              </li>
            <% else %>
              <li>
                <a href="#"></i>Courses<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <% current_user.courses.each do |course| %>
                  <li>
                    <%= link_to course.name, course, { method: :get, controller: :course} %>
                  </li>
                <% end %>
                <% if current_user.is_professor %>
                  <li>
                  <!--<i class="fa fa-edit fa-fw"></i>-->
                    <%= link_to "Create New Course", new_course_path, {method: :get, controller: :course} %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Register New Course", :controller => :registrations, :action => :new %>
                  </li>
                <% end %>
              </ul>
              <!-- /.nav-second-level -->
              </li>
              <li>
                <%= link_to "Questions", :controller => :questions, :action => :index %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
      <div id="main-container" class="container">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
